@import '../../utils/variables';

.MuiBottomNavigation-root {
    background-color: $lightDark !important;
}

.MuiBottomNavigationAction-root {
    color: $lightGrey;
}

@media (min-width: 576) {
    .mobile-navbar {
        display: none !important;
    }
}
