@import "../../utils/css/variables";

.searchContainer {
    position: relative;
    margin-left: .5rem;
    border-radius: 1rem;
    background-color: transparentize($color: $lightDark, $amount: 0.80);
}

.searchContainer:hover {
    background-color: transparentize($color: $lightDark, $amount: 0.70);
}

.searchIconContainer {
    position: absolute;
    height: 100%;
    padding: .4rem .4rem .4rem .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    color: $primary;
}

.searchInput {
    width: 100%;
}

.searchInput input {
    color: $primary !important;
    font-family: "Nunito", sans !important;
    padding: .25rem .5rem .25rem 1.8rem;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 0rem;
    display: flex;
    align-items: center;
}

.searchInput input:focus {
    width: 18ch;
    padding-left: 2.25rem;
}