@import '../../utils/css/variables';

.navContainer {
    padding-top: 0;
}

.navLinkContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 2rem;
}

.navBar {
    background: rgb(22, 22, 22) !important;
    background: linear-gradient(
        180deg,
        $dark 0%,
        $dark 15%,
        rgba(0, 0, 0, 0) 80%
    ) !important;
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: .5rem;
}

.navLink {
    position: relative;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 800 !important;
    color: $mw-grey;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transition: width 2s;
}

.navLink.selected {
    color: $primary;
}

.navLink:after,
.navLink:before {
    transition: all 0.5s;
}

.navLink:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: $lightGrey;
    height: 2px;
}

.navLink:hover {
    color: $lightGrey;
}

.navLink:hover::after {
    width: 100%;
}

.navLink.selected:hover {
    color: $primary;
}

.navLink.selected:hover::after {
    background: $primary;
}

@media (max-width: 575.98px) {
    .navBar {
        display: none !important;
    }
}
