@import '../../utils/variables';

.navBar {
    color: linear-gradient(
        180deg,
        90deg,
        $lightDark 0%,
        $lightDark 80%,
        rgba(0, 0, 0, 0) 100%
    );
    padding-top: 0;
}

.navLinkContainer {
    display: flex;
    flex-grow: 1;
    margin-left: 2rem;
}

.navLink {
    display: block;
    padding: 5px;
    text-decoration: none;
    font-weight: 800 !important;
    position: relative;
    color: $mw-grey;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transition: width 2s;
}

.navLink.selected {
    color: $primary;
}

.navLink:after,
.navLink:before {
    transition: all 0.5s;
}

.navLink:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: $lightGrey;
    height: 2px;
}

.navLink:hover {
    color: $lightGrey;
}

.navLink:hover::after {
    width: 100%;
}

.navLink.selected:hover {
    color: $primary;
}

.navLink.selected:hover::after {
    background: $primary;
}

@media (max-width: 575.98px) {
    .navBar {
        display: none !important;
    }
}
