.login-bg {
    height: 100dvh;
    background-image: url("/assets/background_dark.png");
}

.login-container {
    width: 25rem;
    box-shadow: 0px 0px 60px -30px black;
    transition: all 0.5s ease-in-out;
}

.login-container:hover {
    box-shadow: 0px 0px 60px -30px #9ee493;
    scale: 1.1;
    transform: perspective(2000px) rotateX('10deg');
}
